In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\yadav\anaconda3\lib\site-packages (4.9.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\yadav\anaconda3\lib\site-packages (from selenium) (0.10.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\yadav\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: trio~=0.17 in c:\users\yadav\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\yadav\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: idna in c:\users\yadav\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sortedcontainers in c:\users\yadav\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\yadav\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: outcome in c:\users\yadav\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\yadav\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: sniffio in c:\users\yadav\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\yadav\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\yadav\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: wsproto>=0.14 in c:\users\yadav\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\yadav\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\yadav\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\yadav\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

Now we will download the webDriver for the Web Brower. Steps for download are- 1. Check the version of your browser
                                                      2. go to the link https://chromedriver.chromium.org/downloads
                                                      3. Download the webdriver for your version of your browser.

In [3]:
# Lets first connect to the driver -
driver=webdriver.Chrome(r"chromedriver.exe")

In [4]:
#Opening the naukri page on automated chrome browser
driver.get("https://www.naukri.com/")

In [5]:
# entering designation and location as required in the question -

designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [6]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Bangalore')

In [7]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [8]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [9]:
# scraping job title from the given page

title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
    

# scraping job location from the given page
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
    
    
# scraping Company name from the given page
company_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
    

# scraping job experience from the given page
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [10]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [11]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company_name':company_name,'Experience':experience_required})
df

,Title,Location,Company_name,Experience
0,Data Analyst,Bangalore/Bengaluru,ANZ,6-9 Yrs
1,Data Analyst,Bangalore/Bengaluru,ANZ,6-10 Yrs
2,Data Analyst - IIT/BITS/Startups,Bangalore/Bengaluru,AVE Promagne,1-5 Yrs
3,Data Analyst - FinTech,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",Primo Hiring,1-2 Yrs
4,Data Analyst - FinTech,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Primo Hiring,1-2 Yrs
5,Data Analyst - FinTech,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Primo Hiring,1-2 Yrs
6,Data Analyst - IIT/BITS/Startups,Bangalore/Bengaluru,AVE Promagne,1-5 Yrs
7,Data Analyst,Bangalore/Bengaluru,Siemens,4-6 Yrs
8,Banking Data Analyst,"Bangalore/Bengaluru, Hyderabad/Secunderabad, G...",Coforge,5-10 Yrs
9,Data Analyst,Bangalore/Bengaluru,Dpdzero,1-3 Yrs